// Basic Colors
$black: #000;
$white: #fff;
$red: #DF3535;
$blue: #008EFF;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #07c160;
$gray: #c8c9cc;
$gray-light: #e5e5e5;
$gray-darker: #7d7e80;
$gray-dark: #969799;

// Component Colors
$text-color: #323233;
$active-color: #f2f3f5;
$active-opacity: .7;
$disabled-opacity: .5;
$background-color: #f8f8f8;
$background-color-light: #fafafa;
